@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --inputtextpadding: 1.1rem;
  --bg: #212121;
  --primary: #8774e1;
  --secondary: rgb(135, 116, 225,.1);
  --white: #fff;
  --dropdown-bg: rgb(252, 253, 251);
  --nav-height: 4.3rem;
  --nav-height2: 3.5rem;
  --bt: rgb(0, 0, 0, 0.1);
  --wt: rgb(255, 255, 255, 0.1);
  --primary-grad:linear-gradient(#ffff -125%, var(--primary));
  --stroke-color:rgb(112,117,121);
  --box-shadow:0px 0px 56px rgba(69, 69, 69, 0.2);
  --text-color:var(--bg);
  --bg2:#f6f8fc;
  --bg-filter:blur(20px);
}

@media (max-width: 396px){
  :root{
    --nav-height:3.5rem !important;
  }
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;

}
svg {
  display: block;
  width: 25px;
  height: 25px;
  fill: var(--stroke-color);
  stroke-width: 1;
}
@media (max-width: 396px) {
  svg {
      width: 23px;
      height: 23px;
    }
}

.form {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
}
.input-field {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.input-field > * + * {
  margin-top: 1.5rem;
}

.field2 {
  margin-top: 49px;
}

.label {
  position: relative;
  display: inline-block;
  width: 100%;
}

.label input {
  background: transparent;
  padding: var(--inputtextpadding);
  border-radius: 10px;
  width: 100%;
  height: 54px;
  outline: none;
  font-size: 16px;
  border: 1px solid #2f2f2f;
  color: #fff;
  display: block;
}

.label input:hover {
  border-color: var(--primary);
}

.label input:focus {
  border: 2px solid var(--primary);
}

.label .placeholder {
  font-size: 16px;
  position: absolute;
  width: calc(100% - (var(--inputtextpadding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 27px;
  left: 10px;
  transform: translateY(-50%);
  color: #9e9e9e;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  pointer-events: none;
  user-select: none;
  line-height: 1.3125;
  padding: 0 5px;
}

.label input:not(:placeholder-shown),
.label input:focus {
  transition-delay: 0.1s;
}

.label input:not(:placeholder-shown) + .placeholder,
.label input:focus + .placeholder {
  top: 2px;
  font-size: 11px;
  color: var(--primary);
  background: var(--bg);
  width: auto;
}

.label input:not(:focus) + .placeholder {
  color: #9e9e9e;
}
.label input:hover + .placeholder {
  color: var(--primary);
}

.error {
  border-color: #ff595a !important;
  color: #e53935 !important;

}

.label .error input:not(:placeholder-shown) + .placeholder,
.label .error:focus + .placeholder,
.label .error:not(:focus) + .placeholder {
  color: #ff595a !important;
}

.success {
  border-color: #26962f !important;
}

.btn {
  border: 0;
  outline: 0;
  padding: 12px;
  border-radius: 10px;
  font-size: 19px;
  height: auto;
  cursor: pointer;
  color: #fff;
  display: block;
  width: 100%;
  background-color: #8774e1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn2 {
  max-width: 200px !important;
}
.signbtn {
  margin-top: 1.1875rem;
  height: 54px;
}
.spinner {
  display: none;
  position: absolute;
  right: 20px;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  z-index: 2;
  width: 35px;
  height: 35px;
}
.visible {
  display: block;
}
.spinner .path {
  stroke: #212121;
  stroke-linecap: round;
  -webkit-animation: dash 1s ease-in-out infinite;
  animation: dash 1s ease-in-out infinite;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  padding: var(--inputtextpadding);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 16px;
}
input[type="checkbox"] + label:hover {
  background-color: #2c2c2c;
}
.checktext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="checkbox"] + label > .sqr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9e9e9e;
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  font-size: 22px;
}
input[type="checkbox"]:checked + label > .sqr {
  border: 0.5em solid var(--primary);
}

input[type="checkbox"]:checked + label > .sqr:before {
  content: "";
  position: absolute;
  top: 1.3em;
  left:1em;
  border-right: 2.5px solid transparent;
  border-bottom: 2.5px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  33% {
    width: 0.2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: 2;
  }
  50% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: 2;
  }
  100% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: 2;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: 2;
  }
  50% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: 2;
  }
  100% {
    stroke-dasharray: 100, 150;
    stroke-dashoffset: 2;
  }
}

.toast {
  display: none;
  position: fixed;
  width: 100%;
  max-width: 360px;
  z-index: 4;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: rgba(32, 32, 32, 0.8)
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGZpbGw9IiNGRkYiIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBjeD0iMTIiIGN5PSI2LjUiIHI9IjEuNSIvPjxwYXRoIGQ9Ik0xMiA5LjVjLS41NTIgMC0xIC4zNy0xIC44MjZ2Ny4zNDhjMCAuNDU2LjQ0OC44MjYgMSAuODI2czEtLjM3IDEtLjgyNnYtNy4zNDhjMC0uNDU2LS40NDgtLjgyNi0xLS44MjZ6IiBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+")
    no-repeat 0.9375rem 50%;
  background-size: 1.5rem;
  border-radius: 0.75rem;
  padding: 0.9375rem 0.9375rem 0.9375rem 3.375rem;
  color: #fff;
  margin: 0 auto;
  top: 20px;
  font-family: inherit;
}

.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  height: 1em;
  bottom: -0.7em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='255' height='36' viewBox='0 0 255 36' fill='none'%3E%3Cpath d='M2.99975 17.6351C116.771 12.3405 178.178 12.7036 252 18.0966' stroke='%238774e1' stroke-width='5.75696' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.main{
  height: calc(100vh - var(--nav-height));
  position: relative;
  z-index: 2;
}